<% if current_user.liking?(micropost) %>
  <%= form_with(model: current_user.favorites.find_by(like_id: micropost.id), local: true, method: :delete) do |f| %>
    <%= hidden_field_tag :like_id, micropost.id %>
    <%= f.submit 'Unlike', class: 'btn btn-danger btn-sm' %>
  <% end %>
  
<% else %>
  <div id="favorite-button">
    <%= form_with(model: current_user.favorites.build, id: "favorite-button", local: true) do |f| %>
      <%= hidden_field_tag :like_id, micropost.id %>
      <%= f.submit 'Like', class: 'btn btn-danger btn-sm' %>
    <% end %>
  </div>
<% end %>